<style>
.leaflet-container {  /* all maps */
  width:  100%;
  height: 100%
}
</style>
{% load leaflet_tags %}
<html>
  <head>
   {% leaflet_js plugins="forms" %}
   {% leaflet_css plugins="forms" %}
   <script type="text/javascript">
    window.addEventListener("map:init", function (event) {
      var map = event.detail.map;
      var style = {
        "stroke": true,
        "weight": 2,
        "color": "#666666",
        "fillColor": "#ffcccc",
        "opacity": 0.8,
        "fillOpacity": 0.2,
      };
      var polygon = L.geoJSON({% autoescape off %}{{ canvas_area.geom.json }}{% endautoescape %}, style).addTo(map);
      // zoom the map to the polygon
      map.fitBounds(polygon.getBounds());
      {% for parcel in parcels %}
      var parcel = L.geoJSON({% autoescape off %}{{ parcel.geom.json }}{% endautoescape %}, style).addTo(map);
      {% endfor %}
    });
  </script>
  </head>
  <body>
    <h1>Edit {{ object }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
