{% extends "canvasser/base.html" %}

{% block title %}
<title> Canvas Details </title>
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
<script type="text/javascript">
function map_init_canvas_area (map, options){
    var style = {
      "stroke": true,
      "weight": 2,
      "color": "#666666",
      "fillColor": "#ff0000",
      "opacity": 0.8,
      "fillOpacity": 0.4,
    };
    var polygon = L.geoJSON({% autoescape off %}{{ canvas_area.geom.json }}{% endautoescape %}, style).addTo(map);
    map.fitBounds(polygon.getBounds());
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();
    if (map.tap) map.tap.disable();
}
</script>
<style>
.leaflet-container-default {
    max-width: 70%;
    margin-left: 30%;
}
.detail-subpanel {
    position: absolute;
    left: 0px;
    width: 30%;
    max-height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.panel {
    position: relative;
}
</style>
{% endblock %}
    

{% block content %}
<div class='panel-group'>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1 class='panel-title'>
            <a data-toggle='collapse' href='#collapse1'>{{ canvas.name }}</a>
        </h1>
    </div>
    <div id='collapse1' class='panel-collapse collapse in'>
        <div class='detail-subpanel'>
        <p>{{ canvas.description }}</p>
        <p>{{ canvas.date }}</p>
        <a id='pdf_button' class="btn btn-primary" href="{% url 'canvas-pdf' canvas_id=canvas.id %}">Generate Turf Sheets</a>

        <ul>
        {% for canvasser in canvas.canvassers.all %}
        <li>{{ canvasser.first_name }} {{ canvasser.last_name }}</li>
        {% endfor %}
        </ul>
        </div>
        {% leaflet_map "area_map" callback="window.map_init_canvas_area" %}
    </div>
</div>
{% for turf_id, turf_info in turf_info_dict.items %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h1 class='panel-title'>
            <a data-toggle='collapse' href='#collapse{{turf_id}}'>
            {% for canvasser in turf_info.turf.canvassers.all %}
            {{ canvasser.first_name }} {{ canvasser.last_name }},
            {% endfor %}
            </a>
        </h1>
    </div>
    <div id='collapse{{turf_id}}' class='panel-collapse collapse in'>
        <div class='detail-subpanel'>
        <ul>
        {% for parcel in turf_info.parcels %}
          <li>{{ parcel.prop_street_num }} {{parcel.prop_street}}</li>
        {% endfor %}
        </ul>
        </div>
        <div id="turf-map-{{ turf_info.turf.id }}" class="leaflet-container-default"></div>
    <script type="text/javascript">
(function () {
  function loadmap() {
    var djoptions = {"srid": null, "extent": [[-90, -180], [90, 180]], "fitextent": true, "center": [42.24, -83.61], "zoom": 15, "minzoom": 9, "maxzoom": 18, "layers": [["OSM", "http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}&s=Ga", "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]], "overlays": [], "attributionprefix": null, "scale": "metric", "minimap": false, "resetview": false, "tilesextent": []},
    options = {djoptions: djoptions, initfunc: loadmap,
    globals: false, callback: null},
    map = L.Map.djangoMap('turf-map-{{ turf_info.turf.id }}', options);
     var style = {
      "stroke": true,
      "weight": 2,
      "color": "#666666",
      "fillColor": "#ff0000",
      "opacity": 0.8,
      "fillOpacity": 0.4,
    };
    var polygon = L.geoJSON({% autoescape off %}{{ turf_info.turf.geom.json }}{% endautoescape %}, style).addTo(map);
    map.fitBounds(polygon.getBounds());
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();
    if (map.tap) map.tap.disable();
 }
  var loadevents = ["load"];
  if (loadevents.length === 0) loadmap();
  else if (window.addEventListener) for (var i=0; i<loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
  else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
})();
</script>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
