{% extends "canvasser/base.html" %}

{% block content %}
<h1>HVDSA Canvasser</h1>

  <p>Welcome to <em>HVDSA Canvasser</em>, a GeoDjango + Leaflet.js webapp for planning canvassing events.</p>

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Submit" />
</form>

<h2>Dynamic content</h2>

  <p>Some usage statistics:</p>
  <ul>
    <li><strong>Canvases:</strong> {{ num_canvases }}</li>
    <li><strong>Canvassers:</strong> {{ num_canvassers }}</li>
    <li><strong>Parcels:</strong> {{ num_parcels }}</li>
    <li><strong>Census Tracts:</strong> {{ num_tracts }}</li>
  </ul>

{% endblock %}
