{% extends "turfcutter/base.html" %}

{% block content %}
<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1 class='panel-title'>Campaign List</h1>
    </div>
    <div class='panel-body'>

        {% if campaign_list %}
        <ul>

            {% for campaign in campaign_list %}
            <li>
                <a href="/turfcutter{{ campaign.get_absolute_url }}">{{ campaign.name }}</a>
            </li>
            {% endfor %}

        </ul>
        {% else %}
        <p>No campaigns have been created.</p>
        {% endif %}       
    </div>
</div>
{% endblock %}
