<style>
    .leaflet-container {  /* all maps */
        width:  100%;
        height: 100%
    }
</style>
{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript">
	var dataurl = '{% url "data" %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {}).addTo(map);
          });
      });
    </script>
  </head>
  <body>
    <h1>HVDSA Census Tracts</h1>
    {% leaflet_map "main" %}
  </body>
</html>
